[Unit]
Description=ttyd-logs instance %I

[Service]
User={{ ansible_env.SUDO_USER or ansible_user_id }}
Group=www-data
RuntimeDirectory=ttyd-container
UMask=0002
ExecStart=/opt/ttyd -i /run/ttyd-container/%i-logs.sock -t fontSize=14 -t disableLeaveAlert=true lxc exec %i -t -- tail -n500 -f /var/log/messages
Type=simple
Restart=always

[Install]
WantedBy=default.target

